*.root
*.dat
*.dat.gz
*.txt
!simulation/CMakeLists.txt

simulation/.build/
simulation/bin/
simulation/G4History.macro
simulation/*.mac
!simulation/init_vis.mac
!simulation/vis.mac
!simulation/run.mac

analyzer/bin/
analyzer/src/*.o
analyzer/src/*.d
analyzer/src/*.so
analyzer/src/*.dylib
analyzer/src/*.a